.container {
    width: 50%;
    height: 650px;
    border: 1px solid black;
    margin-left: 25%;
    margin-top: 60px;
    border-radius: 12px;
    background-image: url(/LaptrinhWeb/img/backgroundsignup.jpg);
}
.logo {
    height: 140px;
    width: 100%;
    
}
.logo img {
    width:300px;
    height: auto;
    align-items: center;
    margin-left: 33%;

}
.sign_up_1 {
    width: 100%;
    height: 90px;
    display: flex;
}
.sign_up_1 #sign {
    margin-block-start: 0;
    margin-block-end: 0;
    float: left;
    font-weight: 600;
    font-size: 2.8rem;
    margin-left: 42%;
    
}

.box {
    width: 100%;
    height: 300px;
    display: flex;
}
.box1 {
    width: 50%;
    height: 100%;
    float: left;
}
.box1 #user_name {
    width: 100%;
    height: 100px;
}

.box1 #phone_number {
    width: 100%;
    height: 100px;
}
.box1 #address {
    width: 100%;
    height: 100px;
}
.box1 .form_input {
    width: 80%;
    height: 40%;
    font-size: 1.2rem;
    border-radius: 12px;
    border: 1px solid #cccc;
    margin-top: 7%;
    margin-left: 9%;
    
}
.box2 {
    width: 50%;
    height: 100%;
    float: right;
}
.box2 #fullname {
    width: 100%;
    height: 100px;
}

.box2 #email {
    width: 100%;
    height: 100px;
}
.box2 #password {
    width: 100%;
    height: 100px;
}
.box2 #password #togglePassword {
    margin-left: -30px; 
    cursor: pointer;
}
.box2 .form_input {
    width: 80%;
    height: 40%;
    font-size: 1.2rem;
    border-radius: 12px;
    border: 1px solid #cccc;
    margin-top: 7%;
    margin-left: 9%;
    
}
.form_input {
    padding-left: 10px;
}
.sign_up_2 {
    width: 100%;
    height: 90px;
}
.sign_up_2 .login {
    outline: none;
    border: none;
    width: 30%;
    height: 45%;
    font-size: 1.6rem;
    border-radius: 12px;
    align-items: center;
    justify-content: center;
    background-color: rgba(41, 17, 225, 0.8);
    margin-left: 35%;
    margin-top: 3%;
    
}
.sign_up_2 a {
    text-decoration: none;
    font-weight: 600;
    font-size: 1.6rem;
    color: #f7f4f4;
    
}
.login:hover
{
    opacity: 0.8;
    cursor: pointer;
}
.last_box {
    width: 100%;
    height: 60px;
    text-align: center;
    font-weight: 500;
    font-size: 1.3rem;
    color: #000;
    
}
.last_box a
{
    text-decoration: none;
    font-weight: 600;
    color: blue;
}
